<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panel</title>
   <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <section class="container">
      <div>
        <h1>LOGADO COM SUCESSO</h1>    
        <p>Ge template</p>
        <p>Welcome: <%= usuario %></p>
           
      </div>
    <ul>
        <li>Consultas</li>
        <li>Cadastro</li>
        <li>Senhas</li>
        
    </ul>
    <div>
        <a class="btn" href="/logout">Fazer logoff</a>
    </div>
  </section>
    
</body>
</html>