<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Express session login page</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <section class="container">
        <div>
            <h1>Home page</h1>
            <p>Node Express session login page</p>
        </div>        
        
            <a class="btn" href="/admin/login">Login</a>
           
        </section><!-- container -->
        <footer>
            <p>copyright 2022</p>
        </footer>
</body>
</html>